<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="ReferenceDir" value="C:\\wjh\\TcfGenerator\\Reference"/>
    <add key="SiteInstrument" value="C:\\Program Files\\Keysight\\Power Amplifier Solution\\Site2\\SiteInstrument.xml"/>
    <add key="IniConfig" value="C:\\Program Files\\Keysight\\Power Amplifier Solution\\Configuration\\MEAS_PARAM_SETUP.ini"/>
    <add key="WaveformPath" value="C:\\Program Files\\Keysight\\Power Amplifier Solution\\waveform"/>
    <add key="TapPlanFile" value="C:\\Temp\\1.TapPlan"/>
  </appSettings>
</configuration>
