<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="BasePlugin" value="Keysight.S8901A.Common.BasePlugins.dll"/>
    <add key="TapStepsPlugin" value="Keysight.S8901A.Measurement.CommonTapSteps.dll,Keysight.S8901A.Measurement.TapSteps.dll"/>
    <add key="IniConfig" value="C:\\Program Files\\Keysight\\Power Amplifier Solution\\Configuration\\MEAS_PARAM_SETUP.ini"/>
    <add key="XmlFile" value="C:\\Temp\\test.xml"/>
  </appSettings>
</configuration>